#idea
.idea
*.iml
*.class

#eclipse
.project
.classpath
/.settings/*

/build
**/build

/out
**/out

/.gradle
**/.gradle

#other
/logs
/target
**/logs
**/target

.mymetdata
.checkstyle
.class
.war
.zip
.rar
.DS_Store
.settings
/mybatis/mybatis-demo-2019/netty-2019-08-25-0.log
/vip-3-lock/openjdk12.zip
openjdk12
